@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-display: var(--font-bebas);

  --color-primary: #E63946;
  --color-store-bg: #0a0a0a;
  --color-store-card: #141414;
  --color-store-text: #f1f1f1;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f1f1f1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}